/* .jumbotron {
  background-color: #151965;
  border-radius: 0;
  height: 155px;
  color: beige;
  position: sticky;
  height: 20vh;
  top: 0;
  margin: 0;
  z-index: 1006;
  text-align: center;
} */

.jumbotron {
  background-color: #151965;
  color: beige;
  text-align: center;
}

/* .bg {
  background-color: rgb(174, 151, 197);
  background-size: cover;
  min-height: 1000px;
} */

.h3Sty {
  font-style: italic;
}
.header {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 76, 1)
  );
}

body {
  background-color: #151965;
  color: #ececec;
}
.book {
  color: #f00;
}

.im {
  margin-left: 5%;
}

@media only screen and (min-width: 1200px) {
  .h2i {
    margin-left: 50px;
    font-size: 35px;
    color: #151965;
    font-family: "Crimson Pro", serif;
  }

  body {
    background-color: #151965;
    color: #ececec;
  }

  .h2r {
    margin-left: 205px;
    font-family: "Crimson Pro", serif;
    font-size: 35px;
    color: #f00;
  }
}

@media only screen and (min-width: 320px) and (max-width: 410px) {
  .h2i {
    margin-left: 15px;
    font-size: 35px;
    color: #151965;
    font-family: "Crimson Pro", serif;
  }
  .h2r {
    margin-left: 65px;
    font-family: "Crimson Pro", serif;
    font-size: 35px;
    color: #f00;
  }

  .im {
    width: 50vh;
  }

  body {
    background-color: #151965;
    color: #ececec;
    width: 370px;
  }
}

@media only screen and (min-width: 411px) and (max-width: 767px) {
  .bq {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .h2i {
    margin-left: 35px;
    font-size: 35px;
    color: #151965;
    font-family: "Crimson Pro", serif;
  }
  .h2r {
    margin-top: 20px;
    margin-left: 165px;

    font-family: "Crimson Pro", serif;
    font-size: 35px;
    color: #f00;
  }

  .im {
    width: 60vh;
  }

  body {
    background-color: #151965;
    color: #ececec;
    width: 511px;
  }
}

/* @media only screen and (min-width: 768px) and (max-width: 979px) {
  .im {
    width: 500vh;
  }
} */

@media only screen and (min-width: 768px) and (max-width: 979px) {
  .im {
    width: 66vh;
  }

  .h2i {
    margin-left: 105px;
    font-size: 35px;
    color: #151965;
    font-family: "Crimson Pro", serif;
  }
  .h2r {
    margin-top: 20px;
    margin-left: 405px;

    font-family: "Crimson Pro", serif;
    font-size: 35px;
    color: #f00;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  .im {
    width: 65vh;
  }

  .bq {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .h2i {
    margin-left: 175px;
    font-size: 45px;
    color: #151965;
    font-family: "Crimson Pro", serif;
  }
  .h2r {
    margin-top: 20px;
    margin-left: 545px;

    font-family: "Crimson Pro", serif;
    font-size: 45px;
    color: #f00;
  }
}
