/* .App {
  text-align: center;
} */

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb; */
/* } */

/* .bg{
  background-image: url("https://higherlogicdownload.s3.amazonaws.com/CSDA/b24702e8-8a42-4614-8c45-bc3cba37ea2c/UploadedImages/Homepage_Images/feature_bg_coronavirus.jpg");
  background-s;
  min-width: 100%;
  min-height: 100%;
} */

.bg {
  background-color: rgb(174, 151, 197);
  background-size: cover;
  min-height: 1000px;
}

.align {
  text-align: center;
  margin: 25px;
  border-width: 3px;
  box-shadow: 0px 7px 5px #d4d4d4;
}

.alignhome {
  text-align: center;
  margin: 25px;
}

.jumbotron {
  background-color: lightblue;
  color: beige;
  position:sticky;
  top:0;
  margin:0;
  z-index : 1006;
}

@media screen and (min-width: 600px) {
  .jumbo {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .myImage {
    display: none;
  }
  .contain {
    max-width: 425px;
  }
}

/* @media screen and (max-width: 300px){
  .myImage {
    background-image: url("https://cdn.pixabay.com/photo/2020/03/31/14/04/covid-19-4987797__340.jpg");
    max-width: 300%;
    max-height: 100%;
  }
}
 */

.topp{
  text-align: center;
  margin-left: 50px;
  padding-top: 100px;
  padding-bottom: 30px;
}

.storediv{
  height: 200px;
}

#gender{
  margin-left: -13px;
}

.reg {
  width: 550px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: bold;
}

.reginput {
  margin-top: 10px;
  margin-bottom: 25px;
  border-width: 3px;
  box-shadow: 0px 7px 5px #d4d4d4;
}

#regh3 {
  margin-bottom: 30px;
  text-align: center;
}

#regh2 {
  margin-top: 70px;
  margin-bottom: 50px;
  text-align: center;
}

#regbut {
  margin: 0 auto;
  text-align: center;
}

#shopbut{
  margin-top: 40px; 
}

.genopt {
  margin-top: 10px;
  margin-left: 100px;
  font-size: 18px;
}

/* edited by arumugam */

.moduleContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.moduleComponent {
  text-align: center;
  font-weight: bold;
  width: 250px;
  height: 100px;
  font-size: 18px;
  border: double;
  margin: 50px;
  padding: 90px;
  flex: 1 1;
  border-radius: 50px;
  transition-property: all;
  transition-duration: 1s;

  /* testing purpose have to be rendered separately inside the module */
  background-image: linear-gradient(lightblue, blue), url("./images/covid.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: screen;
}

.moduleComponent:hover {
  padding: 125px;
}

.img-circle {
  border-radius: 50%;
  margin-bottom: 20%;

  max-width: 100%;
  max-height: 70%;
}

.img-circles {
  border-radius: 50%;
  padding: 30px;
  height: 300px;

  max-width: 100%;
  max-height: 70%;
}

.margin {
  font-size: 17px;
  font-weight: bold;
}

.butmar {
  margin: 5%;
  text-align: center;
}

.ctext {
  color: wheat;
  margin-top: 20%;
}

.cname {
  color: wheat;
}

.fund {
  margin-right: 150px;
}

#scroll {
  overflow-x: hidden;
}

.fundinput {
  margin-top: 15px;
  font-size: 17px;
  margin-bottom: 15px;
  border-width: 3px;
  box-shadow: 0px 7px 5px #d4d4d4;
}

.butpm {
  margin: 7%;
  text-align: center;
}

#notes {
  margin-top: 20px;
  height: 100px;
  padding: 10px;
  font-size: 15px;
  border-width: 3px;
  box-shadow: 0px 7px 5px #d4d4d4;
}

.cbox{
  width: 14px;
  height: 14px;
  border-width: 3px;
  box-shadow: 0px 7px 5px #d4d4d4;
}

Label{
  font-size: 20px;
  margin-right: 20px;
}

.donation {
  align-items: center;
}

#doncheck{
  width: 1040px;
  margin-left: -13px;
  font-size: 20px;
}

.donc{
  width: 1040px;
}

.label {
  margin-left: 20px;
  margin-right: 100px;
  font-size: 18px;
  padding-bottom: 20px;
  font-size: 17px;
}

.butdon {
  margin-top: 40px;
}

#sname {
  width: 240px;
  border-width: 3px;
  box-shadow: 0px 7px 5px #d4d4d4;
  margin-left: 50px;
}

#pincode{
  border-width: 3px;
  box-shadow: 0px 7px 5px #d4d4d4;
  width: 240px;
}

#stbut{
  text-align: center;
  border-width: 2px;
  box-shadow: 0px 7px 5px #d4d4d4;
  font-size: 18px;
  height: 38px;
  margin-top: 36px;
  margin-left: 52px;
}

select:focus {
  size: "5";
}

.cards {
  width: 320px;
  margin-left: 62px;
  margin-right: -10px;
  padding: 20px;
  margin-bottom: 40px;
  border-width: 5px;
  border-color: #e3e3e3;
  background-color: #e3e3e3;
  box-shadow: 0px 10px 15px #b3b3b3;
}

.title {
  padding-bottom: 20px;
  font-size: 20px;
  text-align: center;
}

.textl {
  margin-left: 11px;
  font-size: 17px;
  font-weight: bold;
  word-spacing: 5px;
  font-family: sans-serif;
}

.textr {
  position: absolute;
  margin-left: 185px;
  font-size: 17px;
  font-weight: bold;
  word-spacing: 5px;
  font-family: sans-serif;
}

#hrcard {
  margin-top: 1px;
  width: 320px;
  margin-left: -25px;
  background: #e3e3e3;
  height: 2.2px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.statpage {
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}